<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
<exception-type>java.lang.ArithmeticException</exception-type>
<location>/process_error.jsp</location>
</error-page>
<error-page>
<exception-type>java.sql.NumberFormatException</exception-type>
<location>/InvalidParameter.jsp</location>
</error-page>
<error-page>
<error-code>404</error-code>
<location>/404Error.jsp</location>
</error-page>
<error-page>
<error-code>401</error-code>
<location>/401Error.jsp</location>
</error-page>

<security-constraint>
<web-resource-collection>
<web-resource-name>hi</web-resource-name>
<url-pattern>/index.jsp</url-pattern>
</web-resource-collection>
<auth-constraint>
<role-name>member</role-name>
<role-name>manage</role-name>
</auth-constraint>
</security-constraint>

<security-constraint>
<web-resource-collection>
<web-resource-name>hi</web-resource-name>
<url-pattern>/insert.jsp</url-pattern>
<url-pattern>/delete.jsp</url-pattern>
</web-resource-collection>
<auth-constraint>
<role-name>manage</role-name>
</auth-constraint>
</security-constraint>


<login-config>
<auth-method>FORM</auth-method>
<form-login-config>
	<form-login-page>/login.jsp</form-login-page>
	<form-error-page>/login-error.html</form-error-page>
</form-login-config>
</login-config>

</web-app>